@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+JP&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@config "../../tailwind.config.js";

@theme{
    --font-plex: "IBM Plex Sans",sans-serif;
    --font-plexmono: "IBM Plex Mono",monospace;
    --font-plexjp: "IBM Plex Sans JP",sans-serif;

    --color-coffee-50:#fff6ea;
    --color-coffee-100:#ffeed5;
    --color-coffee-200:#fedbb3;
    --color-coffee-800:#874800;
    --color-coffee-900:#532c00;
    --color-coffee-950:#3d2708;
}

@layer base{
    body{
        @apply font-plexmono font-medium;
    }
    h1,h2,h3,p{
        @apply tracking-tighter leading-none capsize;
        /* 👇Unsupported on FireFox💢💢💢💢
        text-box-trim:trim-both;
        text-box-edge: cap alphabetic; */

    }
}

@layer components{
    .header-line-v{
        @apply h-full w-0.5 bg-[#532C0020] absolute inset-0;
    }
    .header-line-h{
        @apply h-0.5 w-full bg-[#532C0020] absolute inset-0;
    }
    .section{
        @apply px-12 py-12 2xl:py-16 flex flex-col gap-8 2xl:gap-10;
    }
    .bar-bg{
        @apply w-full max-w-4xl h-2 2xl:h-3 bg-coffee-950;
    }
    .bar-fg{
        @apply h-full bg-coffee-200;
    }
    .bar-title{
        @apply text-coffee-100 text-lg 2xl:text-2xl font-normal w-40;
    }
    .bar-percentage{
        @apply text-coffee-200 text-lg 2xl:text-2xl font-light;
    }
    .tag-bg{
        @apply w-20 h-10 bg-coffee-200 flex items-center justify-center;
    }
    .tag-text{
        @apply text-coffee-800 text-lg;
    }
    .btn-bg{
        @apply w-35 h-15 bg-coffee-800 flex items-center justify-center;
    }
    .btn-text{
        @apply text-coffee-50 text-xl;
    }
}